
$cl-accent: #D41443;          // акцент колір
$cl-primary: #FFA5BA;         // основний колір
$cl-white-primary: #fff;      // основний білий колір
$cl-h-text: #000;               // колір заголовків тексту
$cl-text: #907E82;            // колір основного тексту
$cl-hover-bg1: #C7133E;       // колір ховеру бекграунд червоний
$cl-hover-bg2: #ECEBEB;       // колір ховеру бекграунд сірий

$cl-card1: #FFB8CA;           // колір карточки морозива
$cl-card2: #F0D1A5;           // колір карточки кави і кафе
$cl-card3: #C2E297;           // колір карточки коктейля і авто-їдла

$cl-section: #FFF5F6;         // заливка секції світла
$cl-section-hero: #FFB8CA;    // заливка героя

$cl-menu-bg: #E17992;         // заливка фону мобільного меню
$cl-fill-social: #FEA5BB;     // заливка іконок соцмереж
$cl-button-contacts: #D41342; // колір кнопки секції контакти
