<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="contacts">
        <div class="container">
            <h1 class="contacts__title visually-hidden">Contacts</h1>
            <ul class="contacts__list list">
                <li class="contacts__item">
                    <p></p>
    
                </li>
                <li class="contacts__item"></li>
                <li class="contacts__item"></li>
            </ul>
        </div>
    </section>
</body>
</html>
