    <section class="contacts">
        <div class="container">
            <h1 class="contacts__title visually-hidden">Contacts</h1>
            <ul class="contacts__list list">
                <li class="contacts__item">
                    <p></p>
    
                    <p>CAFE</p>
                    <p>Chicago</p>
                    <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                </li>
                <li class="contacts__item"></li>
                <li class="contacts__item"></li>
            </ul>
        </div>
    </section>

