<section class="section reviews">
  <div class="container reviews__container">
    <h2 class="is-hidden">Customer reviews</h2>
    <div class="reviews__slide">
      <div class="reviews__img"></div>
      <p class="reviews__text"></p>
    </div>
    <div class="reviews__slide">
      <div class="reviews__img"></div>
      <p class="reviews__text"></p>
    </div>
    <div class="reviews__slide">
      <div class="reviews__img"></div>
      <p class="reviews__text"></p>
    </div>
    <ul class="reviews__slide-switchers">
      <li class="reviews__slide-switcher">
        <svg class="reviews__switcher-icon" width="12" height="12">
          <use class="reviews__slide-switcher-icon" href="./images/ellipse.svg"></use>
          <use class="reviews__active-slide-icon" href="./images/home.svg"></use>
        </svg>
      </li>
      <li class="reviews__slide-switcher">
        <svg class="reviews__switcher-icon" width="12" height="12">
          <use class="reviews__slide-switcher-icon" href="./images/ellipse.svg"></use>
          <use class="reviews__active-slide-icon" href="./images/home.svg"></use>
        </svg>
      </li>
      <li class="reviews__slide-switcher">
        <svg class="reviews__switcher-icon" width="12" height="12">
          <use class="reviews__slide-switcher-icon" href="./images/ellipse.svg"></use>
          <use class="reviews__active-slide-icon" href="./images/home.svg"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
