<section class="section">
    <div class="container">
        <ul class="customer__list">
            <!-- mary, Los Angeles -->
            <li class="list__slick">
                <img class="list__slick-img" source srcset="./images/slider/emily@1x-min.png 1x, ./images/slider/emily@2x-min.png 2x" src="./images/slider/emily@1x-min.png" alt="Emily" />
                <div class="text__box">
                    <svg class="text__box-vector" width="54" height="40">
                        <use href="./images/sprite.svg#icon-quotes"></use>
                    </svg>
                    <p class="list__slick-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                <p class="list__slick-name">Emily, Los Angeles</p>
            </li>
            <!--  -->
            <li class="list__slick"></li>
            <li class="list__slick"></li>
        </ul>
    </div>
</section>