<section class="gallery">
  <picture>
    <source
      srcset="./images/pc/home-pic5-1home-pic@1x.png 1x, ./images/pc/home-pic5-1home-pic@2x.png 2x"
      media="(min-width: 1280px)"
    />
    <source
      srcset="./images/tab/home-pic@1x-min.png 1x, ./images/tab/home-pic@2x-min.png 2x"
      media="(min-width: 768px)"
    />
    <source
      srcset="./images/mobile/home-pic@1x.png 1x, ./images/mobile/home-pic@2x.png 2x"
      media="(min-width: 320px)"
    />
    <img src="./images/pc/home-pic5-1home-pic@1x.png" alt="mosaic of photo" />
  </picture>
</section>
