<header class="header">
    <div class="container">
        <a href="#">
            <img class="header__logo" src="./images/logo 1logo@1x-min.png" alt="logo site" width="199" height="50">
            <!-- <svg width="199" height="50">
                    <use href="./logo.svg"></use>
                </svg> -->
        </a>
        <nav>
            <div class="nav__bar nav__bar_mobile">
                <ul class="nav__list">
                    <li class="nav__item">Home</li>
                    <li class="nav__item">About us</li>
                    <li class="nav__item">How it’s made?</li>
                    <li class="nav__item">Our products</li>
                    <li class="nav__item">Contact</li>
                </ul>
            </div>
        </nav>
        <button type="button">Buy now</button>
    </div>
</header>