<section class="section hero__section">
  <div class="container hero__container">
    <div class="hero__left-part">
      <h1 class="page-title">ice cream made with <span class="page-title-accent">passion</span></h1>
      <ul class="hero__nav-list">
        <li class="hero__nav-item">
          <a class="hero__first-nav-link" href="">Products</a>
        </li>
        <li class="hero__nav-item">
          <a class="hero__second-nav-link" href="">How it’s made?</a>
        </li>
      </ul>
      <div class="hero__add-info">
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="hero__btn" type="button">
          <img
            class="hero__btn-icon"
            src="./images/arrow-right 3arrow-right@1x-min.png"
            alt="red right arrow"
          />
        </button>
      </div>
    </div>
    <div class="hero__right-part">
      <ul class="hero__stat-list">
        <li class="hero__stat-item">
          <span class="hero__stat-number">16</span>
          <span class="hero__stat-text">cafes</span>
        </li>
        <li class="hero__stat-item">
          <span class="hero__stat-number">23</span>
          <span class="hero__stat-text">food trucks</span>
        </li>
      </ul>
    </div>

    <div class="circle animate__animated animate__bounceIn"></div>
    <img
      class="hero__img-1 animate__animated animate__bounceIn"
      src="./images/mobile/home-pic@1x.png"
      alt="ice cream"
    />
    <img
      class="hero__img-2 animate__animated animate__tada"
      src="./images/pc/hero-milk@1x.png"
      alt="jar with milk"
    />
    <img
      class="hero__img-3 animate__animated animate__tada"
      src="./images/pc/hero-tasty@1x.png"
      alt="girl eats ice cream"
    />
  </div>
</section>
