<div data-modal class="backdrop is-hidden">
    <div class="modal">
        <button data-modal-close type="button" class="buttonClose">
            <svg width="18" height="18">
                <use class="buttonClose__icon" href="./images/icons.svg#icon-close-black">
                </use>
            </svg>
        </button>
        <div class="modalContainer">
            <p class="modal__preTitle">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
            Maecenas eleifend erat at justo fringilla.</p>
            <p class="modal__title">
                Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
                Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                
                
                Aliquam erat volutpat. Aenean Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta tenetur reprehenderit assumenda eveniet, minima optio quaerat porro doloribus inventore dolor earum voluptatem nisi temporibus nihil officiis ipsa in illum repellendus.
            </p>
        </div>

    </div>
</div>