<section class="section">
  <div class="container products">
    <p class="products__main-header-description">100% natural</p>
    <h2 class="products__main-header">products</h2>
    <ul>
      <li>
        <div class="products__card">
          <h3 class="card__header">ice cream</h3>
          <p>...</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button>
            <img
              class="hero__btn-icon"
              src="./images/arrow-right 3arrow-right@2x-min.png"
              alt="red right arrow"
            />
          </button>
        </div>
      </li>
      <li>
        <div class="products__card">
          <h3 class="card__header">ice coffee</h3>
          <p>...</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button>
            <img
              class="hero__btn-icon"
              src="./images/arrow-right 3arrow-right@2x-min.png"
              alt="red right arrow"
            />
          </button>
        </div>
      </li>
      <li>
        <div class="products__card">
          <h3 class="card__header">milkshakes</h3>
          <p>...</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button>
            <img
              class="hero__btn-icon"
              src="./images/arrow-right 3arrow-right@2x-min.png"
              alt="red right arrow"
            />
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
