.contacts {
  background-color: #fff5f6;
  padding-top: 162px;
  padding-bottom: 168px;
}
.contacts__list {
  display: flex;
  justify-content: center;
}
.contacts__item {
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 53px 43px;
  width: 330px;
  height: 572px;
  .contacts__list & + & {
    margin-left: 30px;
  }
  width: calc((100%-3 * 30px) / 3);
  margin: 0 auto;
  @include small {
    width: 100%;
  }
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.grid {
  @include small {
    width: 100%;
  }
  @include tab {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -15px;
  }
  @include tab {
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
}
.grid__item {
  @include small {
    width: 100%;
  }
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  //   .grid & + & {
  //     margin-left: 30px;
  //   }
  width: 220px;
  height: 427px;
  padding: 43px 20px;
  margin-bottom: 20px;
}
.contacts-span__container {
  display: inline-block;
  justify-content: center;
  background: #f0d1a5;
  border-radius: 6px;
  padding: 0px 30px;
}
.contacts-time__container {
  padding: 25px 0px;
  border-bottom: 1px solid #e1e1e1;
}
.contacts__span {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: #ffffff;

  @include tab {
    font-size: 16px;
    padding: 6px 12px;
  }
}
.contacts-span__container--center {
  background-color: #c2e297;
}
.contacts__city {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
}

.contacts__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.87;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 10px;
  @include tab {
    font-size: 16px;
  }
}

.contacts__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
  @include tab {
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.04em;
  }
}
.contacts__date {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #000000;
}
.contacts__time {
  @include small {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    color: #ffa5ba;
  }
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.contacts-social {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}
.contacts-social__tel,
.contacts-social__mail {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}
.contacts-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 54px;
  padding-bottom: 54px;
}
.contacts-btn__pink {
  width: 161px;
  height: 44px;
  background: #d41342;
  border-radius: 22px;
  color: #ffffff;
  border: none;
  margin-bottom: 10px;
}
.contacts-btn__white {
  width: 161px;
  height: 44px;
  background: #ffffff;
  border-radius: 22px;
  color: #d41443;
  border: none;
}
