.contacts {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff5f6;
  background-image: url(../images/pc/contact-background@1x.png);
  background-repeat: no-repeat;
  background-size: contain;
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/pc/contact-background@2x.png);
  }
}
.background {
  transform: translateY(-84px);
  @include tab {
    transform: translateY(-78px);
  }
  @include pc {
    transform: translateY(-102px);
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -10px;
  @include tab {
    margin: -10px;
  }
  @include pc {
    margin: -15px;
  }
}
.grid__item {
  width: 220px;
  background: $cl-white-primary;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 43px 20px;
  margin-bottom: 20px;
  margin: 10px;
  @include tab {
    width: calc((100% - 3 * 20px) / 3);
    margin: 10px;
    padding: 50px 32px;
  }
  @include pc {
    padding: 52px 43px;
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
}

.contacts-span__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $cl-card2;
  border-radius: 4px;
  width: 80px;
  height: 16px;
  @include tab {
    width: 73px;
    height: 28px;
  }
}

.contacts-span__container--center {
  background-color: $cl-card3;
  width: 130px;
  height: 16px;
  @include tab {
    width: 138px;
    height: 28px;
  }
}

.contacts__span {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: $cl-white-primary;
  @include tab {
    font-size: 16px;
  }
}

.contacts__city {
  padding-top: 25px;
  padding-bottom: 25px;
  @include tab {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @include pc {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.87;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 10px;
  @include tab {
    font-size: 14px;
    margin-bottom: 14px;
  }
  @include pc {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.contacts__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: $cl-text;
  @include tab {
    font-size: 14px;
    line-height: 1.66;
    letter-spacing: 0.04em;
  }
  @include pc {
    font-size: 16px;
    line-height: 1.83;
  }
}

.contacts-time__container {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
  @include tab {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @include pc {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__date {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: $cl-h-text;
  @include tab {
    font-size: 14px;
  }
  @include pc {
    font-size: 16px;
  }
}
.contacts__time {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: $cl-primary;

  @include tab {
    font-size: 14px;
  }
  @include pc {
    font-size: 16px;
  }
}
.contacts__time--bottom {
  padding-bottom: 10px;
  @include tab {
    padding-bottom: 16px;
  }
  @include pc {
    padding-bottom: 15px;
  }
}

.contacts-social {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  @include tab {
    padding-top: 30px;
  }
  @include pc {
    padding-top: 32px;
  }
}
.contacts-social__tel,
.contacts-social__mail {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: $cl-text;
  transition-duration: 250ms;
  cursor: pointer;
  @include tab {
    font-size: 14px;
    line-height: 1.83;
  }
  @include pc {
    font-size: 16px;
  }
}
.contacts-social__tel:hover,
.contacts-social__tel:focus,
.contacts-social__mail:hover,
.contacts-social__mail:focus {
  color: #d9d9d9;
}

.contacts-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 54px;

  @include tab {
    flex-direction: row;
    align-items: baseline;
  }
  @include pc {
    padding-top: 86px;
  }
}
.contacts-btn__pink {
  width: 161px;
  height: 44px;
  background: $cl-button-contacts;
  border-radius: 22px;
  color: $cl-white-primary;
  border: none;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.3;
  transition-duration: 250ms;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: $cl-hover-bg1;
  }
  @include tab {
    margin-right: 14px;
    margin-bottom: 0px;
  }
  @include pc {
    margin-right: 15px;
  }
}

.contacts-btn__white {
  width: 161px;
  height: 44px;
  background: $cl-white-primary;
  border-radius: 22px;
  color: $cl-accent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.3;
  transition-duration: 250ms;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: $cl-hover-bg2;
  }
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
